.experience-list {
	padding-top: 15px;
}

.experience-row {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
}

.experience-list section {
	padding-right: 70px;
}

span.experience-year {
	color: #373737;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}

.experience-officename {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

span.experience-department {
	color: #373737;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 30px;
}

.experience-list p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.experience-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding-left: 28px;
	/* position: relative; */
	margin-bottom: 20px;
}

.experience-list li {
	/* content: "<<"; */
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding-left: 28px;
	/* position: relative; */
	margin-bottom: 20px;
}
